<!DOCTYPE html>
<html>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <h1>Pipeline Builder</h1>
  <br />
  <form action="/form-submit" method="post" name="pipeSubmit" class="col-sm-8">
    <div class="form-group">
      <label for="segment" class="col-sm-2 col-form-label">Segment</label>
      <select id="segment" name="segment" class="col-sm-2">
        <option value="CDN" selected>CDN</option>
        <option value="JHAS">JHAS</option>
        <option value="GSD">GSD</option>
      </select>
    </div>
    <div class="form-group">
      <label for="region" class="col-sm-2 col-form-label">Region</label>
      <select id="region" name="region" class="col-sm-2">
        <option value="CAC" selected>CAC</option>
        <option value="EAS">EAS</option>
        <option value="SEA">SEA</option>
      </select>
    </div>
    <div class="form-group">
      <label for="enviro" class="col-sm-2 col-form-label">Environment</label>
      <select id="enviro" name="enviro" class="col-sm-2">
        <option value="DEV" selected>DEV</option>
        <option value="TEST">TEST</option>
        <option value="UAT">UAT</option>
        <option value="PROD">PROD</option>
      </select>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label for="type" class="col-sm-2 col-form-label">App Type</label>
        <select id="type" name="type" class="col-sm-2">
          <option value="node" selected>Node</option>
          <option value="java" disabled>Java</option>
          <option value="dotnet" disabled>Dotnet</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="test" class="col-sm-4 col-form-label">Test File</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          id="test"
          name="test"
          placeholder="Test File"
          disabled
        />
      </div>
    </div>
    <div class="form-group">
      <label for="teamEmail" class="col-sm-4 col-form-label">Team Email</label>
      <div class="col-sm-5">
        <input
          type="email"
          class="form-control"
          id="teamEmail"
          name="teamEmail"
          placeholder="e.g. Liam_Newell@manulife.com"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="teamName" class="col-sm-4 col-form-label">Team Name</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          id="teamName"
          name="teamName"
          placeholder="e.g GEES"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="gitRepo" class="col-sm-4 col-form-label">Git SSH URI</label>
      <div class="col-sm-7">
        <input
          type="text"
          class="form-control"
          id="gitRepo"
          name="gitRepo"
          placeholder="e.g. ssh://git@git.platform.manulife.io:2222/newelli/pipeline-builder-pot.git"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="gitKey" class="col-sm-4 col-form-label"
        >Git Private Key</label
      >
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          id="gitKey"
          name="gitKey"
          placeholder="Figure this out later"
          disabled
        />
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="col-sm-8">
        <button type="submit" class="btn btn-primary">PIPE IT!</button>
      </div>
    </div>
  </form>
</html>
